@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-fira {
    font-family: "Fira Sans", sans-serif;
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.swiper-pagination-bullet {
    background: #4f46e5;
}

.slide-left {
    animation: slide-left 1s ease-in-out;
}

@keyframes slide-left {
    0% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Menargetkan tombol accordion yang aktif */
[data-accordion-target][aria-expanded="true"] span {
    color: black; /* Ubah warna teks menjadi hitam ketika accordion aktif */
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.open {
    max-height: 500px; /* Atur nilai max-height sesuai dengan konten */
}
